@CHARSET "UTF-8";
/*�F�{�^��*/
button.button9 {

    /* �����T�C�Y��1.4em�Ɏw�� */

    font-size: 1.4em;




    /* �����̑�����bold�Ɏw�� */

    font-weight: bold;



    /* �c������10px�A

     * ��������30px�̗]�����w�� */

    padding: 10px 30px;



    /* �����F�𔒐F�Ɏw�� */

    color: #fff;



    /* �{�[�_�[���Ȃ��� */

    border-style: none;



    /* �{�^���̉e�̎w��
     * �e�̉�����2px

     * �c����2px

     * �ڂ�����3px

     * �L������1px

     * �F��#666�i�O���[�j�Ɏw�� */

    box-shadow: 2px 2px 3px 1px #666;

    -moz-box-shadow: 2px 2px 3px 1px #666;

    -webkit-box-shadow: 2px 2px 3px 1px #666;



    /* �e�L�X�g�̉e�̎w��

     * �e�̉�����1px

     * �c����1px
     * �ڂ�����2px

     * �F��#000�i���j�Ɏw�� */

    text-shadow: 1px 1px 2px #000;



    /* �F�̎w�� */

    background:#7fbfff;

    ;



    /* �p�ۂ̎w�� */

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    border-radius: 5px;

}


/*�ԐF�{�^��*/
button.button8 {

    /* �����T�C�Y��1.4em�Ɏw�� */

    font-size: 1.4em;




    /* �����̑�����bold�Ɏw�� */

    font-weight: bold;



    /* �c������10px�A

     * ��������30px�̗]�����w�� */

    padding: 10px 30px;



    /* �����F�𔒐F�Ɏw�� */

    color: #fff;



    /* �{�[�_�[���Ȃ��� */

    border-style: none;



    /* �{�^���̉e�̎w��
     * �e�̉�����2px

     * �c����2px

     * �ڂ�����3px

     * �L������1px

     * �F��#666�i�O���[�j�Ɏw�� */

    box-shadow: 2px 2px 3px 1px #666;

    -moz-box-shadow: 2px 2px 3px 1px #666;

    -webkit-box-shadow: 2px 2px 3px 1px #666;



    /* �e�L�X�g�̉e�̎w��

     * �e�̉�����1px

     * �c����1px
     * �ڂ�����2px

     * �F��#000�i���j�Ɏw�� */

    text-shadow: 1px 1px 2px #000;



    /* �F�̎w�� */

    background:#ff7f7f;

    ;



    /* �p�ۂ̎w�� */

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    border-radius: 5px;

}



button.button8:hover {

    /* �����x��20%�Ɏw�� */

    opacity: 0.8;

}
h2 {
	text-alien:right;
}